.container {
    /* display: flex; */
    width: 864px;
    height: 1319px;
  
    margin-left: 2rem;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 13rem;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 35;
    text-align: center;
}

.articles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 5rem;
}

img {
    width: 313px;
    height: 222px;
    /* justify-content: space-between;
    flex-direction: row; */
    /* position: absolute; */
    float: left;
    /* margin: 10px; */
    
}

.content{
    float: right;
    position: relative;
    width: 836px;
    height: 222px;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 20;
    text-align: center;
}

.author {
    font-family: 'Poppins', sans-serif;
    font-size: 20;
    text-align: center;

}

.snippet {
    font-family: 'Poppins', sans-serif;
    font-size: 20;
    justify-content: space-between;
    margin-left: 2rem; 
    margin-bottom: 2rem;
    text-align: left;
}
